
default_config:

frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
influxdb: !include influx.yaml


http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.0/24

template:
  - sensor:
      - name: "Kaltwasser Gesamt"
        unit_of_measurement: "m³"
        device_class: water
        state_class: total_increasing
        state: "{{ states('input_number.wasser_kalt') | float }}"

      - name: "Warmwasser Gesamt"
        unit_of_measurement: "m³"
        device_class: water
        state_class: total_increasing
        state: "{{ states('input_number.wasser_warm') | float }}"

      - name: "Luftqualität"
        state: >
          {% set grenzwert = 60 %}
          {% set sensoren = {
            'Badezimmer': states('sensor.eingang_luftfeuchtigkeit')|float,
            'Flur': states('sensor.flur_luftfeuchtigkeit')|float,
            'Wohnzimmer/Küche': states('sensor.lighthouse_luftfeuchtigkeit')|float,
            'Schlafzimmer': states('sensor.tisch_lampe_luftfeuchtigkeit')|float
          } %}
          {% set zu_hoch = sensoren | dictsort(false, 'value') | selectattr('1', '>', grenzwert) | list %}
          {% if zu_hoch | count > 0 %}
            on
          {% else %}
            off
          {% endif %}
        attributes:
          details: >
            {% set grenzwert = 60 %}
            {% set sensoren = {
              'Badezimmer': states('sensor.eingang_luftfeuchtigkeit')|float,
              'Flur': states('sensor.flur_luftfeuchtigkeit')|float,
              'Wohnzimmer/Küche': states('sensor.lighthouse_luftfeuchtigkeit')|float,
              'Schlafzimmer': states('sensor.tisch_lampe_luftfeuchtigkeit')|float
            } %}
            {% set zu_hoch = sensoren | dictsort(false, 'value') | selectattr('1', '>', grenzwert) | list %}
            {% if zu_hoch | count > 0 %}
              {% for r in zu_hoch %}
                {{ r[0] }}: {{ "%.1f"|format(r[1]) }}%{% if not loop.last %}<br>{% endif %}
              {% endfor %}
            {% else %}
              Alles im grünen Bereich
            {% endif %}


input_number:
  wasser_kalt:
    name: Kaltwasserzähler
    min: 0
    max: 100000
    step: 1
    unit_of_measurement: "m³"
    mode: box

  wasser_warm:
    name: Warmwasserzähler
    min: 0
    max: 100000
    step: 1
    unit_of_measurement: "m³"
    mode: box

  kwhprice:
    name: "kWh-Preis"
    initial: 0
    min: 0
    max: 0.3
    step: 0.001
    unit_of_measurement: "{currency}/kWh"
    mode: box


sensor:
  - platform: steam_online
    api_key: C3038471ECADBE78D738F726BD68ED6C
    accounts:
      - 76561198128590856
  
  - platform: template
    sensors:
      steam_game:
        friendly_name: "Game"
        value_template: "{{ states.sensor.steam_My-Account-ID.attributes.game }}"
        
#######################################
